@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* :root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0
} */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: #fff;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    /* background-image: url('https://source.unsplash.com/random/'); */
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
}

body::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;

}

.slider-container {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active{
    opacity: 1;
}

.arrow{
    position: fixed;
    background-color: transparent;
    color: white;
    padding:20px;
    border: 2px solid orange;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;


}
.arrow:focus{
    outline: 0;
}
.left-arrow {
    left: calc(15vw - 65px);
}

.right-arrow {
    right: calc(15vw - 65px)
}