@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Akaya Telivigala', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.carousel{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}

.buttons-container button{
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    width: 49.5%;
    padding: 0.5rem;
    border: none;
}

.buttons-container button:hover {
    opacity: 0.9;
}

.buttons-container button:focus {
    outline: none;
} 