@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: #fff;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.toggle-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}

.toggle {
    visibility: hidden;
}

.label{
    position: relative;
    background-color: grey;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 88px;
    height: 40px;
}

.toggle:checked + .label{
    background-color: skyblue;
}

.ball{
    background-color: white;
    height: 34px;
    width: 34px;
    top: 3px;
    left: 3px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball{
    animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
    0%{
        transform: translateX(0) scale(1)
    }
    50%{
        transform: translateX(20px) scale(1.2)
    }
    100%{
        transform: translateX(50px) scale(1)
    }
}

@keyframes slideOff {
    0%{
        transform: translateX(50px) scale(1)
    }
    50%{
        transform: translateX(20px) scale(1.2)
    }
    100%{
        transform: translateX(0) scale(1)
    }
}