@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

/* :root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0
} */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Akaya Telivigala', cursive;
    background-color: #fff;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
